 .u-section-1 {
  background-image: url("images/ghghhghg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 269px;
  --animation-custom_in-scale: 0.32;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 95px auto 0 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 13px rgba(71,138,201,0.45);
  width: 707px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 6rem;
  font-weight: 800;
  margin: -134px auto 0;
}

.u-section-1 .u-image-2 {
  width: 157px;
  height: 157px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -357px 14px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 626px;
  min-height: 77px;
  box-shadow: 5px 5px 20px 0 rgba(163,85,89,0.4);
  background-image: linear-gradient(#f1b5b8, white);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  margin: 229px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 143px;
  height: 143px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 72px 45px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 200px;
  height: 156px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -167px auto 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    animation-duration: 1000ms;
  }

  .u-section-1 .u-group-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -231px;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 120px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -214px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -179px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 115px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 57px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -203px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: -338px;
  }

  .u-section-1 .u-group-1 {
    min-height: 98px;
    margin-top: 166px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 72px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1135px;
}

.u-section-2 .u-shape-1 {
  height: 491px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#db545a, #adcce9);
}

.u-section-2 .u-image-1 {
  width: 453px;
  height: 348px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.63;
  margin: -433px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-group-1 {
  width: 539px;
  min-height: 640px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -59px auto 0 calc(((100% - 1140px) / 2) + 31px);
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 60px;
}

.u-section-2 .u-image-2 {
  width: 234px;
  height: 250px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -73px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 67px 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  margin: 27px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(#db545a, #adcce9);
  margin: 34px auto 0 0;
  padding: 17px 38px 18px 37px;
}

.u-section-2 .u-image-3 {
  width: 162px;
  height: 162px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1.29;
  margin: -388px calc(((100% - 1140px) / 2) + 212px) 0 auto;
}

.u-section-2 .u-image-4 {
  width: 392px;
  height: 155px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 58px calc(((100% - 1140px) / 2) + 291px) 13px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1150px;
  }

  .u-section-2 .u-image-1 {
    width: 393px;
    height: 302px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 497px;
    min-height: 675px;
    margin-top: -14px;
    margin-left: calc(((100% - 940px) / 2) + 31px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 58px;
  }

  .u-section-2 .u-image-2 {
    height: 249px;
    margin-top: -89px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 50px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -385px;
    margin-right: calc(((100% - 940px) / 2) + 129px);
  }

  .u-section-2 .u-image-4 {
    width: 365px;
    height: 125px;
    margin-top: 67px;
    margin-right: calc(((100% - 940px) / 2) + 191px);
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1128px;
  }

  .u-section-2 .u-image-1 {
    width: 310px;
    height: 238px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 448px;
    min-height: 690px;
    margin-top: 50px;
    margin-left: calc(((100% - 720px) / 2) + 31px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 218px;
    height: 232px;
    margin-top: -59px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-3 {
    width: 142px;
    height: 142px;
    margin-top: -416px;
    margin-right: calc(((100% - 720px) / 2) + 32px);
  }

  .u-section-2 .u-image-4 {
    width: 301px;
    height: 103px;
    margin-top: 92px;
    margin-right: calc(((100% - 720px) / 2) + 46px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 361px;
    min-height: 688px;
    margin-left: calc(((100% - 540px) / 2) + 31px);
  }

  .u-section-2 .u-image-2 {
    margin-top: -69px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-3 {
    width: 120px;
    height: 120px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-4 {
    width: 251px;
    height: 74px;
    margin-top: 193px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1320px;
  }

  .u-section-2 .u-image-1 {
    width: 204px;
    height: 188px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 339px;
    min-height: 664px;
    margin-top: 101px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 27px;
  }

  .u-section-2 .u-image-2 {
    width: 191px;
    height: 190px;
    margin-top: -57px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 132px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-4 {
    width: 213px;
    height: 63px;
    margin-top: -194px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 745px;
}

.u-section-3 .u-image-1 {
  width: 754px;
  height: 685px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 80px;
}

.u-section-3 .u-shape-1 {
  width: 115px;
  height: 115px;
  background-image: linear-gradient(to right, #f9e79b, #f1b5b8);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.49;
  margin: -278px 138px 0 auto;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -256px -14px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 397px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(#f1b5b8, #f9e79b);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: linear-gradient(#f1b5b8, #f9e79b);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-shape-2 {
  width: 186px;
  height: 186px;
  background-image: linear-gradient(to right, #f9e79b, #f1b5b8);
  --animation-custom_in-scale: 0.57;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -636px 57px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 327px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1452px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 654px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -247px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 662px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1770px;
  }

  .u-section-3 .u-image-1 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -84px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1071px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1946px;
  }

  .u-section-3 .u-image-1 {
    height: 309px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 98px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1302px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1155px;
}

.u-section-4 .u-group-1 {
  width: 702px;
  min-height: 1153px;
  height: auto;
  margin: 1px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 594px;
  height: 594px;
  background-image: none;
  margin: 3px 96px 0 12px;
}

.u-section-4 .u-image-1 {
  width: 562px;
  height: 374px;
  margin: -265px 19px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 362px;
  height: 362px;
  background-image: url("images/ghhgghh.jpg");
  background-position: 50% 50%;
  margin: -223px auto 0 78px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 524px;
  margin: -923px auto 422px 68px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 502px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: linear-gradient(#db545a, #77aad9);
  margin: 4px auto 0;
  padding: 20px;
}

.u-section-4 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 76px;
  width: 76px;
  background-image: linear-gradient(#db545a, #77aad9);
  margin: 4px auto 0;
  padding: 20px;
}

.u-section-4 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: linear-gradient(#db545a, #77aad9);
  margin: 4px auto 0;
  padding: 20px;
}

.u-section-4 .u-text-3 {
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: linear-gradient(#db545a, #77aad9);
  margin: 4px auto 0;
  padding: 20px;
}

.u-section-4 .u-text-4 {
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 949px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-4 .u-group-1 {
    width: 618px;
    margin-top: 39px;
    height: auto;
  }

  .u-section-4 .u-shape-1 {
    width: 297px;
    height: 297px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 374px;
    margin-top: 540px;
  }

  .u-section-4 .u-image-2 {
    width: 323px;
    height: 323px;
    margin-top: -590px;
    margin-left: 80px;
  }

  .u-section-4 .u-list-1 {
    width: 475px;
    margin-top: -654px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 503px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1417px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-right: auto;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 454px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -547px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 469px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 359px;
    height: 359px;
    margin-top: 435px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -551px;
    margin-left: 78px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-top: 33px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1538px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1538px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-shape-1 {
    height: 198px;
    width: 198px;
    margin-top: 3px;
    margin-left: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 226px;
    height: 226px;
    margin-top: 411px;
  }

  .u-section-4 .u-image-2 {
    width: 231px;
    height: 231px;
    margin-top: -486px;
    margin-left: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 795px;
  }
} .u-section-5 {
  background-image: url("images/jhjjj-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 691px;
}

.u-section-5 .u-list-1 {
  margin: 71px 0 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 490px;
  grid-gap: 30px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-1 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 0 auto;
  padding: 12px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-2 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 0 auto;
  padding: 12px;
}

.u-section-5 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-3 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 0 auto;
  padding: 12px;
}

.u-section-5 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 404px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 928px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 3.75rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 374px;
}

.u-section-6 .u-text-1 {
  margin: 99px auto 0;
}

.u-section-6 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-4 {
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }

  .u-section-6 .u-text-4 {
    width: 340px;
  }
}