 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/Untitled-2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 762px;
}

.u-section-1 .u-group-1 {
  min-height: 440px;
  width: 510px;
  background-image: none;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 53px 1px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#2cccc4, #478ac9);
  margin: 32px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-group-1 {
    width: 490px;
    margin-top: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-group-1 {
    min-height: 380px;
    width: 452px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-group-1 {
    min-height: 332px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 845px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 56px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 50px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 25.3333px));
  min-height: 391px;
  grid-gap: 38px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 203px;
  width: 203px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#2cccc4, #478ac9);
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 203px;
  width: 203px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#2cccc4, #478ac9);
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 203px;
  width: 203px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#2cccc4, #478ac9);
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 19px));
    min-height: 740px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 948px;
}

.u-section-3 .u-text-1 {
  margin: 38px 31px 0 902px;
}

.u-section-3 .u-image-1 {
  width: 703px;
  height: 592px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: 11px 0 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 286px;
  width: 407px;
  margin: -79px 37px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  font-size: 1rem;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 378px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/41b7b9ce42d1f846a4d6e3d2469edd04.jpeg");
  background-position: 50% 50%;
  width: 519px;
  margin: -378px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 30px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 37px 30px 0 0;
}

.u-section-3 .u-group-3 {
  min-height: 371px;
  width: 437px;
  margin: -799px auto 428px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 733px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 513px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 333px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 455px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 58px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 75px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 133px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 286px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.75rem;
  }
} .u-section-4 {
  background-image: linear-gradient(#f2f2f2, white);
}

.u-section-4 .u-sheet-1 {
  min-height: 540px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 100px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: url("images/pexelsphoto1002638.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 710px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 144px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 0 143px;
}

.u-section-5 .u-btn-1 {
  margin-left: auto;
  margin-right: 0;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 44px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 126px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    background-position: 47.56% 0%;
    background-size: 130%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 374px;
}

.u-section-6 .u-text-1 {
  margin: 99px auto 0;
}

.u-section-6 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-4 {
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }

  .u-section-6 .u-text-4 {
    width: 340px;
  }
}